{% extends "./contest/layout.twig" %}
{% block content %}
	<div class="content-resizer">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading custom-background">
                            <h4 class="panel-title">
															<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                  Description
                                  <i class="glyphicon glyphicon-chevron-right pull-right"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse collapse">
                            <div class="panel-body">
                                {% if controller.getCurrentContest() %}
                                  {{controller.resData.text}}
                                  <br>
                                  <i class="icon-calendar"></i>
                                  &nbsp;&nbsp; {{controller.resData.start}} &nbsp; - &nbsp; {{controller.resData.end}}
                                  <br>
                                  <i class="icon-award"></i>
                                  &nbsp;&nbsp; {{controller.resData.titrelot}}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-12 -->

            <div class="col-md-12" id="myBody">
              <ul class="nav nav-pills nav-justified">
                <li role="presentation" class="active-blue" id="#random1">
                  <a href="#" class="custom-font-color">Random</a>
                </li>
                <li role="presentation" id="#allPictures1">
                  <a href="#" style="background-color: #eee;" class="custom-font-color"> All Pictures</a>
                </li>
              </ul>
            </div>
            <div class="col-md-12">
              <div id="random2">

                <div class="thumbnail">
                  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
									  <!-- Wrapper for slides -->
									  <div class="carousel-inner" role="listbox">
                      {% for contestants in controller.getCurrentPhotos()%}
                        <div class="item {% if loop.index == 1 %}active{%endif%}" data-id-contestant="{{contestants.id_user}}">
                          <p class="vote">{{ contestants.vote }} <i class="icon-thumbs-up"></i></p>
                          <img class="visuel visuel-generate" src="{{contestants.id_picture}}"/>
                        </div>
                      {% endfor %}
									  </div>
									  <!-- Controls -->
                    <div class="caption text-center">
                      <div class="buttons-group">
                        <button type="button" class="btn btn-default arrow-button" href="#carousel-example-generic" role="button" data-slide="prev">
                          <i class="icon-left"></i>
                        </button>
                        &nbsp;
                        <button type="button" class="btn btn-default like-button" id="like">
                          <i class="icon-thumbs-up"></i>
                        </button>
                        &nbsp;
                        <button type="button" class="btn btn-default arrow-button"  href="#carousel-example-generic" role="button" data-slide="next">
                          <i class="icon-right"></i>
                        </button>
                      </div>
                    </div>
                    
									</div>
                </div>

                <div id="allPictures2" class="hidden">
                    {% for contestants in controller.getCurrentPhotos()%}
                        <div class="col-sm-4 col-lg-4 col-md-4">
                            <div class="thumbnail">
                                <img class="visuel visuel-generate" src="{{contestants.id_picture}}" data-id-contestant="{{contestants.id_user}}"/>
                            </div>
                        </div>
                    {% endfor %}
                </div>
              </div>
              <div class="col-sm-6">
                <a href="/upload">
                  <button type="button" class="btn btn-default btn-lg btn-block participer-button custom-border-color">
                    <i class="icon-gamepad"></i> Participer
                  </button>
                </a>
              </div>
              <div class="col-sm-6">
                <a>
                  <button type="button" class="btn btn-default btn-lg btn-block share-button custom-background custom-border-color" id="share">
                    <i class="icon-facebook"></i> Partager
                  </button>
                </a>
              </div>
           </div>

           <!-- MODAL -->
           <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Modal title</h4>
                  </div>
                  <div class="modal-body">
                    <h1>Share your photo ! </h1>
                    <!-- image of the contest -->
                    <div class="col-xs-12 col-md-12">
                      <a href="#" class="thumbnail">
                        <img src="" id="modal-img"></img>
                      </a>
                    </div>
                    <!-- Message of the user-->
                    <div class="input-group full-width flex">
                      <input type="text" class="form-control" value="Help me to win a contest !" id="message-modal"></input>
                      <!-- Privacy button -->
                      <div class="form-group">
                        <select class="form-control" id="privacy">
                          <option value="EVERYONE">Everyone</option>
                          <option value="ALL_FRIENDS">Every friends</option>
                          <option value="FRIENDS_OF_FRIENDS">Friends</option>
                          <option value="SELF">Only me</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary custom-background" id="post-share">Post your photo</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>
{% endblock %}
{% block javascript %}
    <script src="{{data.asset_path}}/script/helper/helper.js"></script>
    <script src="{{data.asset_path}}/script/service/request.js"></script>
    <script src="{{data.asset_path}}/script/service/dom.js"></script>
    <script src="{{data.asset_path}}/script/controller/homeController.js"></script>
{% endblock %}
